<!doctype html>
<html ng-app="losthistory" ng-controller='MainController' )>
<head>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<title>The Lost History</title>
<meta charset="utf-8">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



</head>
<body>
	<audio autoplay loop>
		<source src="league.mp3">
	</audio>

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" ng-click="openPage('home')">Lost
					History</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left">

					<li><a href="#" ng-click="openPage('play')">Play</a></li>
					<li><a href="#" ng-click="openPage('highscores')">Highscores</a></li>
					<li><a href="https://github.com/B-Sarah/LostHistory">Github</a></li>
					<li><a href="#" ng-click="openPage('about')">About</a></li>

				</ul>

				<ul class="nav navbar-nav navbar-right">

					<li ng-hide="loggedin"><a href="#" ng-click="login()">{{textLogin}}
							<span class="glyphicon glyphicon-lock lock "> </span>
					</a></li>


					<li ng-show="loggedin"><a href="#" title="Sign out"
						ng-click="logout()">{{user.name}} <img
							ng-src="{{user.picture}}" class=img-circle width=30px height=30px></img>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>





	<div ng-show="page == 'home'">
		<div class="home">

			<a href="#"><img src="image.gif"></img> </a> <br> <a href="#"><img
				src="abstract.gif" width=500px height=450px></img></a>

			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a class="btn btn-Default " ng-click="openPage('play')"><img
							src="image.png"></img></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="page == 'play'">
		<div ng-show="loggedin">
			<div ng-show="battles != null">
				<div class="row">
					<div class="col-md-6 col-md-offset-2">
						<div class="panel panel-secondary">
							<div class="panel-heading">
								<h2 class="battleNameFormat">{{battles[currentBattle].name}}</h2>
							</div>
							<div class="panel-body row">
								<h3 class="questionContentFormat">{{question[0].text}}</h3>
								<br></br>
								<div ng-repeat="answer in question[0].answers" class="col-md-6">
									<button
										class="btn center-block responsive-width
										ng-class:{'btn-default': question[0].answered === false,
										          'btn-primary': (!validate && question[0].answered !== false && $index === question[0].answered),
												  'btn-success': (validate && question[0].answered !== false && question[0].answers[$index].correct),
												  'btn-danger': (validate && question[0].answered !== false && !question[0].answers[$index].correct && $index === question[0].answered)}"
										ng-click="answerYear($index)">{{answer.year}}</button>
								</div>
							</div>
							<div class="panel-body row">
								<hr class="style">
								<h3 class="questionContentFormat">{{question[1].text}}</h3>
								<br></br>
								<div ng-repeat="answer in question[1].answers" class="col-md-6">
									<button
										class="btn btn-block
										ng-class:{'btn-default': question[1].answered.length === 0,
										          'btn-primary': (!validate && question[1].answered.length !== 0 && question[1].answered.indexOf($index) !== -1),
												  'btn-success': (validate && question[1].answered.length !== 0 && question[1].answers[$index].correct),
												  'btn-danger': (validate && question[1].answered.length !== 0 && !question[1].answers[$index].correct && question[1].answered.indexOf($index) !== -1)}"
										ng-click="answerParticipant($index)">{{answer.name}}</button>
								</div>
							</div>

							<div class="panel-body row">
								<hr class="style">
								<h3 class="questionContentFormat">{{question[2].text}}</h3>
								<br></br>
								<ng-map center="41,-87" zoom="3" on-click="answerPlace(event)" map-initialized="initMap(map)">
								<marker
									icon="http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
									ng-repeat="place in question[2].answered"
									position="{{place.lat()}}, {{place.lng()}}" title="Your answer"></marker>
								<marker
									icon="http://maps.google.com/mapfiles/ms/icons/green-dot.png"
									ng-repeat="place in question[2].answers"
									position="{{place.latitude}}, {{place.longitude}}"
									title="Correct answer"></marker> 
								</ng-map>

							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="panel panel-secondary">
							<div class="panel-heading">
								<h3 class="questionFormat">Question #{{currentBattle + 1}}</h3>
							</div>
							<div class="panel-body">
								<h4 class="score">Score: {{score}}</h4>
							</div>
						</div>
						<div class=" row text-center ">
							<button class="btn btn-sample btn-lg "
								ng-show="!validate" ng-click="validateAnswer()">Validate
								!</button>
							<button class="btn btn-sample btn-lg "
								ng-show="validate" ng-click="nextQuestion()">Next
								question !</button>
						</div>
				

					</div>
				</div>

			</div>
			<h2 class="centerVertical" ng-show="battles == null">{{battleLoadingText}}</h2>
		</div>
		<h2 class="centerVertical" ng-show="!loggedin" class="loader">Waiting
			for user to log in ...</h2>
	</div>
	<div ng-show="page == 'gameover'">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1>Well played!</h1>
				</div>
				<div class="panel-body">
					<p>
						You've got <b>{{questions.well_answered}}</b> right questions out
						of <b>{{questions.answered}}</b>!
					</p>
					<button class="btn btn-success" ng-click="restart()">Restart</button>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="page == 'highscores'">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Score</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="score in highscores">
							<td>{{($index+1)}}</td>
							<td>{{score.username}}</td>
							<td>{{score.score}}</td>
						</tr>
					</tbody>
				</table>
				<h4 ng-show="highscores == null" class="loader">Waiting for
					scores...</h4>
			</div>
		</div>
	</div>
	</div>

	</div>





	<footer class="footer">
		<div class="container">
			<center>
				<span class="text-muted">Alexis Donnart - Sarra Boutahlil
					Lost History &copy </span>
			</center>
		</div>
	</footer>



</body>

<!-- Javascript  -->
<script language="javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDb1A_wAgdiHUGfbQw1JLmeE1HDjJ1mhlo&libraries=geometry"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
	<script src="ng-map.min.js"></script>
</script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="angular-google-gapi-master/dist/angular-google-gapi.js">
	
</script>


<script src="app.js"></script>

</html>