
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background: url('photo1.jpeg');
	background-size:cover;

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #080808;
}

 .img-circle {
        border-radius: 50%;
    }
    
 
	.btn-sample { 
  color: #F0EFCC; 
  background-color: #000000; 
  border-color: #F0EFCC; 
  margin: 0 auto;
  
}

.home {
    padding-top: 140px;
    padding-bottom: 10px;
    text-align: center;
    color: #f8f8f8;
}

.lock{
	font-size:12px;
}

